body {
  background-color: #C8E6C9; /* verde pistacho */
  font-family: Arial, sans-serif;
  color: #6B8E74;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 2em;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}

.malla {
  display: flex;
  flex-direction: column; /* ciclos uno debajo del otro */
  gap: 60px;
}

.ciclo {
  display: flex;
  flex-direction: row;   /* cursos al costado */
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.curso {
  width: 180px;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #A3C9A8;
  background-color: #E3F2E1;
  cursor: pointer;
  transition: 0.3s;
}

.curso.bloqueado {
  background-color: #90AFA0;
  color: #fff;
  cursor: not-allowed;
}

.curso.aprobado {
  background-color: #8FD694;
  color: #fff;
}

.curso.pendiente {
  background-color: #F0F8E2;
  color: #6B8E74;
}
